apt-xapian-index==0.45
chardet==2.3.0
Cheetah==2.4.4
cloud-init==0.7.5
colorama==0.3.7
configobj==5.0.6
distlib==0.2.2
html5lib==0.999
jsonpatch==1.10
jsonpointer==1.9
Landscape-Client==16.3+bzr834
oauth==1.0.1
PAM==0.4.2
prettytable==0.7.2
pycurl==7.19.3
pyOpenSSL==0.13
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
PyYAML==3.11
requests==2.2.1
six==1.10.0
ssh-import-id==3.21
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
urllib3==1.7.1
virtualenv==16.4.3
zope.interface==4.1.3
